﻿<html>
<body>
<h1>Sz&aacute;mla</h1>
<h2>Számlaszám: {{invoice_number}}</h2>
<table style="height: 162px; width: 816px;" border="1">
<tbody>
<tr style="height: 48.5px;">
<td style="width: 335px; height: 48.5px;">
<h2>Sz&aacute;ll&iacute;t&oacute;:</h2>
</td>
<td style="width: 426px; height: 48.5px;">&nbsp;</td>
<td style="width: 9px; height: 48.5px;">&nbsp;</td>
<td style="width: 375.514px; height: 48.5px;">
<h2>Vevő:</h2>
</td>
<td style="width: 440.486px; height: 48.5px;">&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 335px; height: 18px;">&nbsp;N&eacute;v:</td>
<td style="width: 426px; height: 18px;  background-color: silver;"">{{szallito_nev}}</td>
<td style="width: 9px; height: 18px;">&nbsp;</td>
<td style="width: 375.514px; height: 18px;">N&eacute;v:</td>
<td style="width: 440.486px; height: 18px;  background-color: silver;">{{vevo_nev}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 335px; height: 18px;">&nbsp;C&iacute;m:</td>
<td style="width: 426px; height: 18px;  background-color: silver;">{{szallito_cim}}</td>
<td style="width: 9px; height: 18px;">&nbsp;</td>
<td style="width: 375.514px; height: 18px;">C&iacute;m:</td>
<td style="width: 440.486px; height: 18px;  background-color: silver;">{{vevo_cim}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 335px; height: 18px;">Ad&oacute;sz&aacute;m:&nbsp;</td>
<td style="width: 426px; height: 18px;  background-color: silver;">{{szallito_adoszam}}</td>
<td style="width: 9px; height: 18px;">&nbsp;</td>
<td style="width: 375.514px; height: 18px;">Ad&oacute;sz&aacute;m:</td>
<td style="width: 440.486px; height: 18px;  background-color: silver;">{{vevo_adoszam}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 335px; height: 18px;">Banksz&aacute;mlasz&aacute;m:</td>
<td style="width: 426px; height: 18px;  background-color: silver;">{{szallito_bankszamlaszam}}</td>
<td style="width: 9px; height: 18px;">&nbsp;</td>
<td style="width: 375.514px; height: 18px;">Banksz&aacute;mlasz&aacute;m:&nbsp;</td>
<td style="width: 440.486px; height: 18px;   background-color: silver;">{{vevo_bankszamlaszam}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 335px; height: 18px;">IBAN:&nbsp;</td>
<td style="width: 426px; height: 18px;  background-color: silver;">{{szallito_iban}}</td>
<td style="width: 9px; height: 18px;">&nbsp;</td>
<td style="width: 375.514px; height: 18px;">IBAN:&nbsp;</td>
<td style="width: 440.486px; height: 18px;  background-color: silver;">{{vevo_iban}}</td>
</tr>
<tr style="height: 18px;">
<td style="width: 335px; height: 18px;">SWIFT:&nbsp;</td>
<td style="width: 426px; height: 18px; background-color: silver;">{{szallito_swift}}</td>
<td style="width: 9px; height: 18px;">&nbsp;</td>
<td style="width: 375.514px; height: 18px;">SWIFT:</td>
<td style="width: 440.486px; height: 18px;  background-color: silver;">{{vevo_swift}}</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="height: 44px;" border="1" width="818">
<tbody>
<tr>
<td style="width: 197.6px;">Fizet&eacute;s m&oacute;dja:</td>
<td style="width: 197.6px;">Sz&aacute;mla kelte:</td>
<td style="width: 198.4px;">Telj. d&aacute;tuma:</td>
<td style="width: 198.4px;">Fizet&eacute;si hat&aacute;ridő:</td>
</tr>
<tr>
<td style="width: 197.6px;  background-color: silver;">{{fizetes_modja}}</td>
<td style="width: 197.6px;  background-color: silver;">{{szamla_kelte}}</td>
<td style="width: 198.4px;  background-color: silver;">{{teljesites_datuma}}</td>
<td style="width: 198.4px;  background-color: silver;">{{fizetesi_hatarido}}</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="height: 29px; width: 818px;" border="1">
<tbody>
<tr>
<td style="width: 253.6px;">Megnevez&eacute;s</td>
<td style="width: 87.2px;">Mennyis&eacute;g</td>
<td style="width: 64.8px;">
<p>Egys&eacute;g&aacute;r</p>
<p>Ft</p>
</td>
<td style="width: 80px;">
<p>Nett&oacute;</p>
<p>Ft</p>
</td>
<td style="width: 89.6px;">&Aacute;fa %</td>
<td style="width: 93.6px;">
<p>&Aacute;fa &eacute;rt&eacute;k</p>
<p>Ft</p>
</td>
<td style="width: 106.4px;">
<p>Brutt&oacute;</p>
<p>Ft</p>
</td>
</tr>
<tr>
<td style="width: 253.6px;  background-color: silver;">&nbsp;</td>
<td style="width: 87.2px;  background-color: silver;">&nbsp;</td>
<td style="width: 64.8px;  background-color: silver;">&nbsp;</td>
<td style="width: 80px;  background-color: silver;">&nbsp;</td>
<td style="width: 89.6px;  background-color: silver;">&nbsp;</td>
<td style="width: 93.6px;  background-color: silver;">&nbsp;</td>
<td style="width: 106.4px;  background-color: silver;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="height: 137px;" border="1" width="366">
<tbody>
<tr>
<td style="width: 115.2px;">&Aacute;FA r&eacute;szletez&eacute;s</td>
<td style="width: 115.2px; text-align: right;">&nbsp;</td>
<td style="width: 115.2px;">&nbsp;&Ouml;sszesen</td>
</tr>
<tr>
<td style="width: 115.2px;">Nett&oacute; &eacute;rt&eacute;k</td>
<td style="width: 115.2px; text-align: right;">&nbsp;</td>
<td style="width: 115.2px; text-align: right;  background-color: silver;">{{total_net_amount}}</td>
</tr>
<tr>
<td style="width: 115.2px;">&Aacute;fa &eacute;rt&eacute;k</td>
<td style="width: 115.2px; text-align: right;">&nbsp;</td>
<td style="width: 115.2px; text-align: right;  background-color: silver;">{{total_vat_amount}}</td>
</tr>
<tr>
<td style="width: 115.2px;">Brutt&oacute; &eacute;rt&eacute;k</td>
<td style="width: 115.2px; text-align: right;">&nbsp;</td>
<td style="width: 115.2px; text-align: right;  background-color: silver;">{{total_gross_amount}}</td>
</tr>
<tr>
<td style="width: 115.2px;">&nbsp;Fizetendő:</td>
<td style="width: 115.2px;">&nbsp;</td>
<td style="width: 115.2px; text-align: right;  background-color: silver;">{{due_for_payment}}</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
</body>
</html>